<h1 id="title"> Spoonfull </h1>

<!-- # <%= image_tag 'spoon.png', id: "spoon" %> -->

<h2> Discover your next favorite recipe! </h2>

  <%= form_tag(searches_results_path, :method => "get", id: "looking-for") do %>
      <%= text_field_tag :search, params[:search], placeholder: "search ingredient or recipe..." %>
  <% end %>
