/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
    margin: 0;
    padding: 0;
  }

 body {
   color: white;
   text-align: center;
   background-color: #0a0a0a;
   background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
 }

 a {
   color: white;
   text-decoration: none;
 }

 h1 {
   font-family: 'Pacifico', cursive;
   font-weight: 500;
   font-size: 80px;
   color: rgba(250,	128,	114,	1);
   margin-top: 100px;
 }

 h2 {
   font-size: 25px;
   margin-bottom: 50px;
   font-family: 'Poppins', sans-serif;
 }

 h4 {
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
 }

 h3 {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
 }

 #logo {
   font-size: 35px;
   font-family: 'Pacifico', cursive;
   float: left;
   margin: 3px 0 7px 20px;
   color: rgba(250,	128,	114,	1);
 }

 #title {
   font-size: 110px;
 }

 #sticky-menu {
   position: fixed;
   z-index: 1;
   font-family: 'Poppins', sans-serif;
   top: 0%;
   right: 0%;
   width: 100%;
   background-color: rgba(29,	29,	29, .9);
   box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
 }

 #sticky-menu a:hover {
   color: rgba(250,	128,	114,	1);
 }

 .menu-item {
   margin: 25px 30px 0 0;
   display: inline-block;
   font-weight: bolder;
   float: right;
 }

 #wrapper {
   display: flex;
   background-color: black;
 }

 #dash-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 25px 0 0 0;
 }

 #thumb-text {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   line-height: 50px;
   font-family: 'Hammersmith One', sans-serif;
   color: white;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 5px;
 }

 #search {
   width: 500px;
   height: 60px;
   border: none;
   font-size: 35px;
   background-color: #0a0a0a;
   color: rgba(250,	128,	114,	1);
   border-bottom: 2px solid white;
   text-align: center;
   background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
 }

 #instructions {
   margin: 100px 0 0 0;
 }

 .cells {
   flex-direction: row;
   background-color: black;
 }

 .thumbnails {
   width: 250px;
   height: 250px;
   object-fit: contain;
   border-radius: 300px;
   margin: 20px;
   cursor: pointer;
   box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5);
   background-blend-mode: multiply;

 }

 .thumbnails:hover {
   border: 3px solid white;
 }

 a.fav {
  text-decoration: none;
  color: white;
}

a.no-fav {
  text-decoration: none;
  color: white;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}
